// Variables colors

// Generic
$black: #000;
$bondi-blue: #00adb5;
$mine-shaft: #333333;
$wild-sand: #f5f5f5;
$white: #fff;

// Contextualized
$color-bg: $white;
$color-bg-alt: $wild-sand;

$color-text: $mine-shaft;
$color-text-opposite: $white;

$color-primary: $bondi-blue;
