// Variables: Colors

// Generic Colors
$black: #000;
$white: #fff;
$grey-mine-shaft: #3c3c3c;
$grey-wild-sand: #f5f5f5;
$blue-curious: #1e88e5;
$blue-fountain: #4bc1c0;
$blue-stone: #006063;
$blue-egg: #00c3c9;
$red-wild-watermelon: #ff6384;

// Variables: Contextualized Colors
$color-primary: $blue-curious;
$color-positive: $blue-fountain;
$color-negative: $red-wild-watermelon;
$color-text: $black;
$color-text-opposite: $white;
$color-text-light: $grey-mine-shaft;
$color-bg-main: $grey-wild-sand;
$color-bg-alt: $white;

// Contextualized Colors
$color-text: $black;
$color-text-light: $grey-mine-shaft;
