// Fonts

$font-family: 'Montserrat', arial, sans-serif;
$font-size: 16px;

$font-size-title: var(--font-size-title);
$font-size-subtitle: var(--font-size-subtitle);
$font-size-highlight: var(--font-size-highlight);
