// Variables: Gutters

$gutter-size-small: 16px;
$gutter-size-large: 24px;

$gutter-size: var(--gutter-size);
$gutter-size-half: calc(var(--gutter-size) / 2);
$gutter-size-double: calc(var(--gutter-size) * 2);
