// Variables: Transitions

// Effects
$transition-effect-default: ease-in-out;

// Durations
$transition-duration-fast: 160ms;
$transition-duration-medium: 320ms;
$transition-duration-slow: 480ms;
$transition-duration-very-slow: 768ms;
