// Fonts

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/montserrat-bold.woff2') format('woff2'),
    url('/src/assets/fonts/montserrat-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/montserrat-extrabold.woff2') format('woff2'),
    url('/src/assets/fonts/montserrat-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/montserrat-regular.woff2') format('woff2'),
    url('/src/assets/fonts/montserrat-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
