/**
 * Styles registered globally: ONLY GLOBAL CSS (not component scoped)
*/

// Some SCSS re-use (no CSS in it)
@import './abstract.scss';
@import './montserrat';

// All global styles
@import '~normalize-scss/sass/normalize/import-now';

:root {
  --gutter-size: #{$gutter-size-small};

  @media (min-width: $sm) {
    --gutter-size: #{$gutter-size-large};
  }
}

body {
  background: $grey-wild-sand;
  font-size: $font-size-default;
  line-height: $font-line-height-default;
  font-family: $font-default;
}

figure {
  margin: 0;
}

address {
  font-style: normal;
}

// Global classes
.noscroll {
  overflow: hidden;
}
