@import './abstract.scss';
@import './fonts';
@import './custom-props';

// Global styles

*,
:before,
:after {
  box-sizing: border-box;
}

html {
  display: flex;
  overflow: hidden;
  height: 100%;
}

body {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  overflow: hidden;
  margin: 0;
  background-color: $color-bg;
  padding: 0;
  color: $color-text;
  font-size: $font-size;
  line-height: 1.15;
  font-family: $font-family;
}
