@mixin tile-highlight {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  background: var(--color-primary-gradient);
  padding: var(--gutter-lg);
  color: var(--color-text-highlight);

  @media (min-width: $sm) {
    height: 250px;
  }
}
