// Mixins: Form

@mixin input {
  position: relative;
  width: 100%;
  padding: $gutter-size-half;
  border-radius: $border-radius-default;
  transition: border $transition-duration-medium $transition-effect-default;

  &:focus {
    outline: 0;
  }
}
