@import '../../assets/variables';
@import '../../assets/mixins';

.account-percent {
  overflow: hidden;

  &__infos {
    text-align: center;
    flex: 1;

    &__title {
      @include subtitle;
    }

    &__value {
      @include highlight;

      margin-bottom: $padding-xs;

      @media (min-width: $xs) {
        margin-bottom: $padding-md;
      }
    }
  }
}
