@import '../../assets/variables';
@import '../../assets/mixins';

.account-tile {
  overflow: hidden;

  &__content {
    @media (min-width: $sm) {
      flex-direction: row-reverse;
    }

    &__title {
      @include subtitle;

      @media (min-width: $xs) {
        text-align: right;
      }
    }

    &__amount {
      @include highlight;

      text-align: right;

      @media (min-width: $xs) {
        line-height: 40px;
      }
    }

    &__chart {
      display: none;

      @media (min-width: $xs) {
        display: block;
      }

      &__item {
        height: 40px;
        width: 100%;
      }
    }
  }
}
