@import '../../assets/variables';
@import '../../assets/mixins';

.account-tile {
  overflow: hidden;

  &__title {
    @include subtitle;
  }

  &__amount {
    @include title;
    line-height: 40px;
  }

  &__chart {
    height: 40px;
    width: 100%;
  }
}
