@import '../../assets/variables';
@import '../../assets/mixins';

// Layout
html,
body,
.application,
.application--wrap,
.content,
.content--wrap {
  display: flex;
  min-height: auto;
  height: 100%;
  width: 100%;
  flex: 1 0 auto;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;

  &--wrap {
    display: block;
    overflow-y: scroll;
    flex-direction: column;
  }
}

.menu__content {
  max-height: 200px;
}

// Page
.dashboard {
  &__current {
    padding: 0 0 $padding-xs;

    @media (min-width: $xs) {
      padding: 0 0 $padding-md;
    }

    @media (min-width: $md) {
      padding: 0 0 $padding-lg;
    }

    &__accounts {
      display: block; // Just put flex if the column need to fit to the max height
      flex-direction: row;
      flex-wrap: wrap;

      @media (min-width: $xs) {
        flex-direction: column;
        flex-wrap: nowrap;
      }

      &__title {
        @include title;
        display: none;

        @media(min-width: $xs) {
          display: block;
          flex-basis: auto !important;
          flex-grow: 0 !important;
        }
      }

      &__type {
        margin-bottom: $padding-xs;
      }
    }

    &__month {
      display: block; // Just put flex if the column need to fit to the max height
      flex-direction: column;

      @media (min-width: $xs) {
        padding: 0 0 0 $padding-md;
      }

      @media (min-width: $md) {
        padding: 0 0 0 $padding-lg;
      }

      &__date {
        @include title;

        text-align: center;

        @media (min-width: $xs) {
          text-align: left;
        }
      }

      &__balance {
        &__spending {
          order: 1;
          padding: 0 $padding-xs;

          @media (min-width: $sm) {
            order: 0;
          }
        }

        &__income {
          order: 2;
          padding: 0 $padding-xs;

          @media (min-width: $sm) {
            order: 2;
          }
        }

        &__diff {
          text-align: center;
          order: 0;

          @media (min-width: $sm) {
            display: flex;
            order: 1;
          }

          &__block {
            margin: 0;
            align-self: center;

            @media (min-width: $md) {
              margin-top: $padding-xs;

              &:first-child {
                margin-top: 0;
              }
            }

            &__title {
              @include subtitle;
              margin: 0;
              padding: 0;
            }

            &__value {
              @include title;
              margin: 0;
              padding: 0;
              color: $dh-green;

              &--down {
                color: $dh-red;

                .dashboard__current__month__balance__diff__block__value__icon {
                  color: $dh-red !important;
                }
              }

              &__icon {
                padding: 0 10px;

                color: $dh-green !important;
              }
            }
          }

          &__separator {
            margin: $padding-xs 0;

            @media (min-width: $sm) {
              display: none;
            }
          }
        }
      }

      &__categories {
        margin-top: $padding-md;
        &__title {
          @include subtitle;
        }
      }
    }
  }

  &__history {
    background: $bg-blue;
    color: white;

    @media (min-width: $xs) {
      padding: $padding-md $padding-md $padding-xs;
    }

    @media (min-width: $md) {
      padding: $padding-lg $padding-lg $padding-md;
    }

    &__top {
      text-align: left;

      &__title {
        @include title(0 0 5px);
      }

      &__subtitle {
        @include subtitle('light');
      }
    }

    &__year {
      margin: 5px 0 0;
      text-align: center;

      @media (min-width: $xs) {
        margin-top: 0;
        text-align: right;
      }
    }

    &__chart {
      margin-top: 30px;
      height: 200px;
    }
  }

  &__details {
    padding: 0 $padding-xs $padding-xs;

    @media (min-width: $xs) {
      padding: 0 $padding-md $padding-md;
    }

    @media (min-width: $md) {
      padding: $padding-xs $padding-lg $padding-lg;
    }

    &__savings {
      &__title {
        @include title;
      }
    }

    &__capacity {
      &__title {
        @include title;
      }
    }

    &__categories {
      &__title {
        @include title;
      }
    }
  }
}
