@import '../../assets/variables';
@import '../../assets/mixins';

// Layout
html,
body,
.application,
.application--wrap,
.content,
.content--wrap {
  display: flex;
  min-height: auto;
  height: 100%;
  width: 100%;
  flex: 1 0 auto;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;

  &--wrap {
    display: block;
    overflow-y: scroll;
    flex-direction: column;
  }
}

.menu__content {
  max-height: 200px;
}

// Page
.dashboard {
  &__current {
    padding: 0 0 $padding-xs;

    @media (min-width: $xs) {
      padding: 0 $padding-md $padding-md;
    }

    @media (min-width: $md) {
      padding: $padding-xs $padding-lg $padding-lg;
    }

    &__accounts {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      @media (min-width: $xs) {
        flex-direction: column;
        flex-wrap: nowrap;
      }

      &__title {
        @include title;
        display: none;

        @media(min-width: $xs) {
          display: block;
          flex-basis: auto !important;
          flex-grow: 0 !important;
        }
      }

      &__month {
        &__title {
          @include subtitle;
        }

        &__diff {
          @include title;
        }
      }
    }

    &__month {
      display: flex;
      flex-direction: column;
      padding: 0 $padding-xs;

      @media (min-width: $xs) {
        padding: 0 0 0 $padding-md;
      }

      @media (min-width: $md) {
        padding: 0 0 0 $padding-lg;
      }

      &__title {
        @include title;

        text-align: center;

        @media (min-width: $xs) {
          text-align: left;
        }
      }

      &__diff {
        color: $dh-green;

        &--down {
          color: $dh-red;

          .dashboard__current__month__diff__icon {
            color: $dh-red !important;
          }
        }

        &__icon {
          padding: 0 10px;

          color: $dh-green !important;
        }
      }
    }
  }

  &__history {
    background: $bg-blue;
    padding: $padding-xs;
    color: white;

    @media (min-width: $xs) {
      padding: $padding-md;
    }

    @media (min-width: $md) {
      padding: $padding-lg;
    }

    &__top {
      text-align: center;

      @media (min-width: $xs) {
        text-align: left;
      }

      &__title {
        @include title(0 0 5px);
      }

      &__subtitle {
        @include subtitle('light');
      }
    }

    &__year {
      margin: $padding-xs 0 $padding-xs;
      text-align: center;

      @media (min-width: $xs) {
        margin-top: 0;
        text-align: right;
      }
    }

    &__chart {
      margin-top: 30px;
      height: 200px;
    }
  }
}
